/*form styles*/
/* #msform {
  max-width: 900px;
  margin: 20px auto;
  position: relative;
  } */
  .form-control {
    color: white !important;
  }
 
  option{
    background-color: gray;
  }
  
  #msform fieldset {
 
  border: 0 none;
  border-radius: 3px;
  /* box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1); */
  padding: 20px 30px;
  /* box-sizing: border-box; */
  width: 100%;
  margin: 0 5%;
  /*stacking fieldsets above each other*/
  /* position: absolute; */
  }
  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {
  display: none;
  }

#wrapper {
  width: 100%;
  overflow: hidden; }

.register-box {
  /* max-width: 900px; */
  margin: 0 auto;
  
  }
  /* .register-box a {
    display: block; } */

.step-register {
  /* position: absolute; */
  height: 100%; }

@media (max-width: 767px) {
  #msform fieldset,
  .login-register,
  .step-register {
    position: relative; } }

