<div class="container-fluid">
  <div class="bg-clr mb-5" style="padding-top: 30px;">
    <div class="row">
      <div class="col-md-12">
        <div class="content clearfix">
          <!-- Step 4 -->
          <h6 tabindex="-1" class="title current">Remark</h6>
          <section role="tabpanel" aria-labelledby="steps-uid-0-h-3" class="body current"
            aria-hidden="false">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="behName1">Behaviour :</label>
                  <input type="text" class="form-control" id="behName1">
                </div>
                <div class="form-group">
                  <label for="participants1">Confidance</label>
                  <input type="text" class="form-control" id="participants1">
                </div>
                <div class="form-group">
                  <label for="participants1">Result</label>
                  <select class="custom-select form-control" id="participants1" name="location">
                    <option value="">Select Result</option>
                    <option value="Selected">Selected</option>
                    <option value="Rejected">Rejected</option>
                    <option value="Call Second-time">Call Second-time</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="decisions1">Comments</label>
                  <textarea name="decisions" id="decisions1" rows="4" class="form-control"></textarea>
                </div>
                <div class="form-group">
                  <label>Rate Interviwer :</label>
                  <div class="c-inputs-stacked">
                    <label class="inline custom-control custom-checkbox block">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label ml-0">1 star</span>
                    </label>
                    <label class="inline custom-control custom-checkbox block">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label ml-0">2 star</span>
                    </label>
                    <label class="inline custom-control custom-checkbox block">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label ml-0">3 star</span>
                    </label>
                    <label class="inline custom-control custom-checkbox block">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label ml-0">4 star</span>
                    </label>
                    <label class="inline custom-control custom-checkbox block">
                      <input type="checkbox" class="custom-control-input">
                      <span class="custom-control-label ml-0">5 star</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="actions clearfix">
          <ul role="menu" aria-label="Pagination">
            <li class="" aria-disabled="false"><a [routerLink]="['/app/settings/step3']" role="menuitem">Previous</a></li>
            <li aria-hidden="true" aria-disabled="true" class="disabled" style="display: none;"><a href="javascript:void(0)"
                role="menuitem">Next</a></li>
            <li aria-hidden="false" style=""><a href="javascript:void(0)" role="menuitem">Submit</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
