<section>
  <div class="container-fluid" style="padding-top: 35px;">
    <div class="card border-0 shadow mb-5">
      <div class="card-body">
        <div class="container-fluid">
          <div class="mb-5" style="padding-top: 30px;">
            <div class="row">
              <div class="col-md-12">
                <div class="content clearfix">
                  <!-- Step 2 -->
                  <section role="tabpanel" aria-labelledby="steps-uid-0-h-1" class="body"
                    aria-hidden="true">
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <div class="form-group mb-1">
                          <label for="firstName1">App URL :</label>
                          <input type="text" class="form-control border border-bottom-0" placeholder="Insert your app URL here" id="firstName1">
                        </div>
                          <label for="firstName1" class="text-danger mb-4">Note : kids apps are not accepted</label>
                      </div>
                    </div>
                    <hr>
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="container-check">User Age (15 - 60)
                            <input type="checkbox">
                            <span class="checkmark"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="location1">Daily Active Users :</label>
                          <select class="form-control" id="location1" name="location">
                            <option value="">500 - 1000</option>
                            <option value="">1000 - 2000</option>
                            <option value="">5000 - 10000</option>
                            <option value="">more</option>
                          </select>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-center">
                      <div class="col-md-6">
                        <label class="mb-4" for="location1">Select where the most countries your users from :</label>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Saudi Arabia
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Egypt
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">U.A.E
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Oman
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Yemen
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Qatar
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Bahrain
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Sudan
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Comoros
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Algeria
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Palestinian Terrorities
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Kuwait
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Jordan
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Lebanon
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Iraq
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Dijbouti
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Somalia
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Mauritania
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Morocco
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Tunisia
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Libya
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="container-check">Syria
                                <input type="checkbox">
                                <span class="checkmark"></span>
                              </label>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </section>
                </div>
                <div class="row text-right">
                  <div class="col-md-12 justify-content-end">
                    <a href="javascript:void(0)" class="btn btn-primary">Submit</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
        </div>
      </div>
</section>
