<section id="wrapper" class="step-register">
  <div class="register-box">
      <div class="">
          <!-- <a href="javascript:void(0)" class="text-center m-b-40">
            <img src="../assets/images/logo-icon.png" alt="Home">
            <br>
            <img src="../assets/images/logo-text.png" alt="Home">
          </a> -->
          <form id="msform">
              <ul id="eliteregister">
                  <li class="active">Account Setup</li>
                  <li class="">Personal Details</li>
              </ul>
          </form>
          <div class="clear"></div>
      </div>
      <router-outlet></router-outlet>
  </div>
</section>

