<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ml-5" href="#"><img src="../../assets/payfort_logo_clr.png" height="60px" width="120px"
          alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav text-dark justify-content-center text-uppercase mt-5 mr-auto ml-auto">
          <li><h2>LETS GET STARTED</h2></li>
      </ul>
      <form class="form-inline my-2 mr-5 my-lg-0">
        <a class="" [routerLink]="['/']">
          <button class="btn btn-outline-success text-dark rounded-pill  px-5 py-2 my-2 mr-5 my-sm-0" type="submit">
           Go Back To Home</button></a>
        
        </form>
  </div>
</nav>
</header>

<section id="wrapper" class="step-register">
  <div class="register-box">
      <div class="">
          <!-- <a href="javascript:void(0)" class="text-center m-b-40">
            <img src="../assets/images/logo-icon.png" alt="Home">
            <br>
            <img src="../assets/images/logo-text.png" alt="Home">
          </a> -->
          <form id="msform">
              <ul id="eliteregister">
                  <li class="text-light active">Account Setup</li>
                  <li class="text-light">Personal Details</li>
              </ul>
          </form>
          <div class="clear"></div>
      </div>
      <router-outlet></router-outlet>
  </div>
</section>

