.table thead th, .table th {
  letter-spacing: 1px;
}
.text-mute{
font-weight: 550;
color: #646464 !important;
font-size: .9rem;
align-items: center;
}
.dataTables_filter {
  text-align: right;
}
.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}
.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}
.dataTables_filter .form-control {
  color: #888;
  background-color: #fff;
  box-shadow: none;
  height: 30px;
}


