<!-- Cards -->
<section>
  <div class="container-fluid" style="padding-top: 35px;">

    <div class="row mb-3">
      <!-- <div class="col-md-7">
        <h2 class="m-0 d-flex justify-content-md-end font-weight-bold">MY APPLICATIONS</h2>
      </div> -->
      <div class="col-md-12">
        <div class="d-flex justify-content-md-end">
          <a [routerLink]="['/app/addapp']" class="btn btn-warning"><i class="fas fa-plus"></i>&nbsp; <span>New App</span> </a>
        </div>
      </div>
    </div>
    <div class="card border-0 shadow mb-5">
      <div class="card-body">


        <div class="row">
            <!-- <div class="col-md-1" style="margin-top: 9px;">

              <span class="text-mute">Search By:</span>
            </div> -->
            <div class="col-md-3">
              <div class="d-md-flex align-items-center">
                <span class="text-mute mr-2">PLATFORM</span>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>IOS</option>
                <option value="1">Android</option>
              </select>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-3">
            <div class="d-md-flex align-items-center">
              <span class="text-mute mr-2">STATUS</span>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Active</option>
              <option value="1">Under Review</option>
              <option value="2">Paused</option>
              <option value="2">Pending</option>
              <option value="3">Suspended</option>
              <option value="2">Offline</option>
            </select>
          </div>
        </div>

          </div>

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div id="example23_filter" class="dataTables_filter mb-2"><label>Search:<input type="search"
                    class="form-control form-control-sm" placeholder="" aria-controls="example23"></label>
              </div>
                  <div class="table-responsive">
                    <table class="table color-table purple-table">
                      <thead>
                        <tr>
                          <th>App Name</th>
                          <th>App ID</th>
                          <th>Platform</th>
                          <th>Status</th>
                          <th>Impression</th>
                          <th>Revenue</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Facebook</td>
                          <td>12345</td>
                          <td>IOS</td>
                          <td><span class="text-success">Active</span></td>
                          <td>123456</td>
                          <td>100$</td>
                        </tr>
                        <tr>
                          <td>Facebook</td>
                          <td>12345</td>
                          <td>Android</td>
                          <td><span class="text-warning">Pending</span></td>
                          <td>123456</td>
                          <td>100$</td>
                        </tr>
                        <tr>
                          <td>Facebook</td>
                          <td>12345</td>
                          <td>Android</td>
                          <td><span class="text-muted">Paused</span></td>
                          <td>123456</td>
                          <td>100$</td>
                        </tr>
                        <tr>
                          <td>Facebook</td>
                          <td>12345</td>
                          <td>IOS</td>
                          <td><span class="text-danger">Suspended</span></td>
                          <td>123456</td>
                          <td>100$</td>
                        </tr>
 
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        </div>
      </div>
</section>
