<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        <a class="navbar-brand" href="#"><img src="../../assets/payfort_logo_clr.png" height="60px" width="120px"
                alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav text-dark text-uppercase mr-auto ml-3">
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item dropdown ml-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Pricing
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link" href="#">State of payments</a>
                </li>
            </ul>
            <form class="form-inline my-2 mr-5 my-lg-0">
                <a class="" [routerLink]="['login']">
                <button class="btn btn-outline-success text-dark rounded-pill text-dark px-5 py-2 my-2 my-sm-0" type="submit">Get
                    Started</button></a>
            </form>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class=" text-md-right text-center banner">
                <h2 class="mt-2" style="text-align: center; font-size: 35px;">DO YOU HAVE AN ONLINE
                    BUSINESS?</h2>
                <h3 class="text-muted mt-4" style="text-align: center; font-size: 30px;"><em>Accepting online
                        payments, reduce risk&nbsp;&amp;</em></h3>
                <h1 class="mt-4" style="text-align: center; font-size: 75px;">BOOST YOUR REVENUE</h1>

            </div>
            <div class="justify-content-center revenue-image">
                <img src="../../assets/Boost_your_revenue_hp_en.png" class="img-fluid" width="800px" height="400px"
                    alt="">
            </div>
        </div>
    </div>
</header>
<section class="second-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 justify-content-center text-center my-5">
                <div
                    class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                    <img src="../../assets/build_it_hp_icon_en.png" class="img-fluid" alt="">

                </div>
            </div>
            <div class="col-md-6 text-section">
                <div class="text-align-middle">
                    <h1><span style="color: #ffffff;">BUILD IT</span></h1>
                    <h3><span style="color: #ffffff;"><em>WITH SPEEDY
                                INTEGRATION</em></span></h3>
                    <div
                        class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                        <p><span style="color: #ffffff;">We got 50+ shopping
                                carts to support your checkout page and if
                                that’s not enough we have our plug-and-play
                                developer kit to speed up the integration.
                            </span></p>
                    </div>
                    <div
                        class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                        <p><span style="color: #ffffff;">Our Integration team is
                                on hand to take you from production to live and
                                get you to start transacting online.</span></p>
                    </div>
                    <div
                        class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                        <button class="btn bg-white px-5 py-3 rounded-pill text-muted">
                            <h4 class="m-0">Learn More</h4>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-4 text-center">
                <div
                    class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                    <img src="../../assets/upsell_it_payment_method_icon_en.png" class="img-fluid" alt="">
                </div>

            </div>
            <div class="col-md-4 mt-5">
                <h1 style="text-align: center;">UPSELL IT</h1>
                <h2 class="text-muted" style="text-align: center;"><em>AND INCREASE <br>
                        TRANSACTION SIZE</em></h2>
                <ul class="mt-2">
                    <li
                        class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                        Let your customers pay seamlessly from
                        anywhere using Visa or MasterCard credit
                        cards by offering Digital wallets or
                        Installments.</li>
                </ul>
                <ul class="mt-2">
                    <li
                        class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                        Minimizing friction from payment on checkout
                        through Merchant page V2.0 with no
                        redirection and other services like
                        Tokenization, Mobile SDK and more.</li>
                </ul>
                <ul class="mt-2">
                    <li
                        class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                        Increase the frequency of transactions while
                        offering recurring service for auto-schedule
                        payments and also you can offer other services
                        such as Invoicing to pay from anywhere.</li>
                </ul>
                <div
                    class="vc_btn3-container text-center wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-center vc_custom_1505374322069 wpb_start_animation animated">
                    <button data-vc-gradient-1="#17ac77" data-vc-gradient-2="#1aa39b"
                        class="vc_general rounded-pill mt-3 vc_btn3 vc_btn3-size-lg vc_btn3-shape-round vc_btn3-style-gradient-custom vc_btn-gradient-btn-5e6b8d751bcf5"
                        href="#" title="">
                        <h4 class="m-0">Learn More</h4>
                    </button></div>
            </div>
            <div class="col-md-4 text-center">
                <div
                    class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                    <img src="../../assets/upsell_it_invoice_icon_en.png" class="img-fluid" alt="">
                </div>

            </div>
        </div>
    </div>
</section>
<section class="third-section mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div
                    class="wpb_text_column text-center wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                    <img src="../../assets/expand_it_goGlocal_icon_en.png" class="img-fluid globe-pic mb-4" alt="">
                </div>
                <div
                    class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1505338601013 small-font wpb_start_animation animated">
                    <div class="wpb_wrapper">
                        <h1 style="text-align: center;"><span style="color: #ffffff;">EXPAND IT</span></h1>

                    </div>
                </div>

                <div
                    class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1505336259950 wpb_start_animation animated">
                    <div class="wpb_wrapper mt-3">
                        <h3 style="text-align: center;"><span style="color: #ffffff;"><em>WITH GO
                                    GLOCAL</em></span></h3>

                    </div>
                </div>

                <div
                    class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_custom_1505336349258 wpb_start_animation animated">
                    <div class="wpb_wrapper mt-3">
                        <p style="text-align: center;"><span style="color: #ffffff;">Different cultures have
                                different needs that’s why our experts in
                                payment processing technology solutions can help
                                you globally and locally by accepting multi
                                currencies, offering your business local payment
                                methods and more..</span></p>

                    </div>
                </div>
                <div
                    class="vc_btn3-container mt-3 text-center wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-center vc_custom_1505374347842 wpb_start_animation animated">
                    <button class="btn bg-white px-5 py-3 rounded-pill text-muted">
                        <h4 class="m-0">Learn More</h4>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="wpb_text_column text-center wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                    <img src="../../assets/secure_it_fraud_icon_en.png" class="img-fluid globe-pic mb-4" alt="">
                </div>
                <div
                    class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1505338601013 small-font wpb_start_animation animated">
                    <div class="wpb_wrapper">
                        <h1 style="text-align: center;"><span style="color: #ffffff;">SECURE IT</span></h1>

                    </div>
                </div>

                <div
                    class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeIn fadeIn vc_custom_1505336259950 wpb_start_animation animated">
                    <div class="wpb_wrapper mt-3">
                        <h3 style="text-align: center;"><span style="color: #ffffff;"><em>AND PROTECT AGAINST
                                    FRAUD</em></span></h3>

                    </div>
                </div>

                <div
                    class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_custom_1505336349258 wpb_start_animation animated">
                    <div class="wpb_wrapper mt-3">
                        <p style="text-align: center;"><span style="color: #ffffff;">Credit card fraud can
                                cost a business millions if not managed
                                properly. With some powerful fraud prevention
                                tools, our risk management team will secure you
                                against online fraud and keep your business
                                safe.</span></p>

                    </div>
                </div>
                <div
                    class="vc_btn3-container mt-3 text-center wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-center vc_custom_1505374347842 wpb_start_animation animated">
                    <button class="btn bg-white px-5 py-3 rounded-pill text-muted">
                        <h4 class="m-0">Learn More</h4>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="fourth-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 justify-content-center text-center my-5">
                <div
                    class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                    <img src="../../assets/track_it_hp_icon_en.png" class="img-fluid" alt="">

                </div>
            </div>
            <div class="col-md-6 text-section">
                <div class="text-align-middle">
                    <h1><span>BUILD IT</span></h1>
                    <h3><span><em>WITH SPEEDY
                                INTEGRATION</em></span></h3>
                    <div
                        class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                        <p><span>We got 50+ shopping
                                carts to support your checkout page and if
                                that’s not enough we have our plug-and-play
                                developer kit to speed up the integration.
                            </span></p>
                    </div>
                    <div
                        class="wpb_text_column wpb_content_element wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp wpb_start_animation animated">
                        <p><span>Our Integration team is
                                on hand to take you from production to live and
                                get you to start transacting online.</span></p>
                    </div>
                    <div
                        class="vc_btn3-container wpb_animate_when_almost_visible wpb_fadeInUp fadeInUp vc_btn3-center vc_custom_1505374322069 wpb_start_animation animated">
                        <button data-vc-gradient-1="#17ac77" data-vc-gradient-2="#1aa39b"
                            class="vc_general rounded-pill mt-3 vc_btn3 vc_btn3-size-lg vc_btn3-shape-round vc_btn3-style-gradient-custom vc_btn-gradient-btn-5e6b8d751bcf5"
                            href="#" title="">
                            <h4 class="m-0">Learn More</h4>
                        </button></div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="fifth-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="vc_single_image-wrapper   vc_box_border_grey">
                    <img class="vc_single_image-img img-fluid"
                        src="../../assets/zawya.png" width=""
                        height="" alt="Track it and reduce chargebacks" title="Track it and reduce chargebacks"></div>
            </div>
            <div class="col-md-2">
                <div class="vc_single_image-wrapper   vc_box_border_grey">
                    <img class="vc_single_image-img img-fluid"
                        src="../../assets/wamda_logo_en.png" width=""
                        height="" alt="Track it and reduce chargebacks" title="Track it and reduce chargebacks"></div>
            </div>
            <div class="col-md-4">
                <div class="wpb_wrapper mt-2">
                    <h2 style="text-align: center;"><a
                           >Where
                            we are featured</a></h2>

                </div>
            </div>
            <div class="col-md-2">
                <div class="vc_single_image-wrapper   vc_box_border_grey">
                    <img class="vc_single_image-img img-fluid"
                        src="../../assets/saudi_logo.png" width=""
                        height="" alt="Track it and reduce chargebacks" title="Track it and reduce chargebacks"></div>
            </div>
            <div class="col-md-2">
                <div class="vc_single_image-wrapper   vc_box_border_grey">
                    <img class="vc_single_image-img img-fluid"
                        src="../../assets/daily-news.png" width=""
                        height="" alt="Track it and reduce chargebacks" title="Track it and reduce chargebacks"></div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div
                class="wpb_single_image wpb_content_element vc_align_center  wpb_animate_when_almost_visible wpb_fadeInLeft fadeInLeft wpb_start_animation animated">

                <figure class="wpb_wrapper vc_figure">
                    <div
                        class="vc_single_image-wrapper mt-5 ml-5  vc_box_border_grey">
                        <img width="" height=""
                            src="../../assets/BE-IN-THE-GAME.png"
                            class="vc_single_image-img img-fluid attachment-medium"
                            alt="be in the game"></div>
                </figure>
            </div>
            </div>
            <div class="col-md-8">
                <div>
                    <img src="../../assets/Capture.PNG" class="img-fluid" alt="">
                </div>
            </div>
            
            </div>
        </div>
        

</section>

<section>
    <div class="container-fluid">
        <div class="row mt-4 footer-menu">
            <div class="col-lg-4">
                <nav class="footer-navigation " role="navigation">
                    <ul id="menu-footer-menu" class="menu">
                        <h4 class="tilte">Company</h4>
                        <li><a href="/our-story/">Our story</a></li>
                        <li><a href="/success-stories/">Success Stories</a></li>
                        <li><a href="/pricing/">Pricing</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/newsboard/">News board</a></li>
                        <li><a href="/payfort-joining-the-amazon-family/">Announcements</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4">
                <nav class="footer-navigation " role="navigation">
                    <ul id="menu-footer-menu" class="menu">
                        <h4 class="tilte">Features</h4>
                        <li><a href="/fast-integration/">Speedy Integration</a></li>
                        <li><a href="/upsell-and-increase/">Seamless Checkout Experience</a></li>
                        <li><a href="/expand-go-glocal/">Local Payment Methods</a></li>
                        <li><a href="/upsell-and-increase/">Digital Wallets</a></li>
                        <li><a href="/secure-checkout/">Protect Against Fraud</a></li>
                        <li><a href="/backoffice-reporting/">Real-Time Dashboard</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4">
                <nav class="footer-navigation " role="navigation">
                    <ul id="menu-footer-menu" class="menu">
                        <h4 class="tilte">Services</h4>
                        <li><a href="/installments/">Installments</a></li>
                        <li><a href="/buy-now-pay-monthly/">Buy Now, Pay Monthly</a></li>
                        <li><a href="/recurring-billing/">Recurring Billing</a></li>
                        <li><a href="/payment-link/">Invoicing Service</a>
                        </li>
                        <li><a href="/upsell-and-increase/">Tokenization</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-4">
                <nav class="footer-navigation " role="navigation">
                    <ul id="menu-footer-menu" class="menu">
                        <h4 class="tilte">Privacy Policy</h4>
                        <li><a href="/privacy-policy/">Privacy Policy</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4">
                <nav class="footer-navigation " role="navigation">
                    <ul id="menu-footer-menu" class="menu">
                        <h4 class="tilte">Let us help you</h4>
                        <li><a href="https://docs.payfort.com/">Documentation</a></li>
                        <li><a href="/contact-us/">Contact us</a></li>
                        <li><a href="/support-center/">Support Center</a></li>
                        <li><a href="/partner-program/">Partner with us</a></li>
                        <li><a href="/jobs/">Careers</a></li>
                        <li><a href="/site-map/">Site Map</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4">
                <nav class="footer-navigation " role="navigation">
                    <ul id="menu-footer-menu" class="menu">
                        <h4 class="tilte">Our reports</h4>
                        <li><a href="https://stateofpayments.payfort.com/en/">State of Payments</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11 text-right">
                <ul class="social_networks">
                    <li class="facebook pr-2">
                        <a target="_blank" href=""><i
                                class="fa fa-facebook fa-lg text-dark"></i></a>
                    </li>
                    <li class="twitter pr-2">
                        <a target="_blank" href=""><i class="fa fa-twitter text-dark fa-lg"></i></a>
                    </li>
                    <li class="linkedin pr-2">
                        <a target="_blank" href=""><i
                                class="fa fa-linkedin text-dark fa-lg"></i></a>
                    </li>
                    <li class="instagram pr-2">
                        <a target="_blank" href=""> <i
                                class="fa fa-instagram text-dark fa-lg"></i></a>
                    </li>
                    <li class="youtube pr-2">
                        <a target="_blank" href=""> <i
                                class="fa fa-youtube text-dark fa-lg"></i></a>
                    </li>
                    <li class="pinterest pr-2">
                        <a target="_blank" href=""> <i
                                class="fa fa-pinterest text-dark fa-lg"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

