
.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile-1 + label {
  color: white;
  background-color: rgba(9, 9, 163, 0.726);
}
.inputfile + label {
  border-radius: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.5rem 1.25rem;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
/*form styles*/
#msform {
  max-width: 900px;
  margin: 20px auto;
  position: relative;
  }
  #msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 90%;
  margin: 0 5%;
  /*stacking fieldsets above each other*/
  position: absolute;
  }
  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {
  display: none;
  }

#wrapper {
  width: 100%;
  overflow: hidden; }

.register-box {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 2%; }
  /* .register-box a {
    display: block; } */

.step-register {
  position: absolute;
  height: 100%; }

@media (max-width: 767px) {
  #msform fieldset,
  .login-register,
  .step-register {
    position: relative; } }
