<div class="container-fluid">
  <div class="bg-clr mb-5" style="padding-top: 30px;">
    <div class="row">
      <div class="col-md-12">
        <div class="content clearfix">
          <!-- Step 4 -->
          <h6 class="font-weight-bold">You are all set, Payments will be made per your selections.</h6>
          <br>
          <p>If you want to review your information, press the back button to review previous forms <br>
            If you wish to edit any details, click the edit button on the appropriate form. After editing please proceed through
            all the steps again until this final confirmation.
          </p>
            <br><br><br><br><br><br><br>
        </div>
        <div class="actions clearfix">
          <ul role="menu" aria-label="Pagination">
            <li class="" aria-disabled="false">
              <a [routerLink]="['/app/settings/step2']" role="menuitem">Previous</a>
            </li>
            <li aria-hidden="true" aria-disabled="true" class="disabled" style="display: none;">
              <a href="javascript:void(0)"
                role="menuitem">Next</a>
              </li>
            <li aria-hidden="false" style="">
              <a href="javascript:void(0)" role="menuitem">Submit</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
