
.form-group {
  width: 200px;
}
/* cards */
.m-0{
  font-family: gothambold,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
}
.card-common {
  box-shadow: 1px 2px 5px #999;
  transition: all .4s;
}
.btn{
  outline: none !important;
  box-shadow: none !important;
  color: white !important;
}
.btn-light{
  border: none !important;
  background: white !important;
  color: #999 !important;
}
.btn-light:hover{
  color: #161616 !important;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #161616;
  border-color: #161616;
}

.card-common:hover {
  cursor: auto
  /* box-shadow: 2px 3px 15px #999999; */
  /* transform: translateY(-1px); */
}

a.widget {
  display: block;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.widget {
  margin-bottom: 10px;
}
a {
  color: #161616;
  text-decoration: none;
}
.widget .widget-extra {
  padding-top: 1px;
  padding-bottom: 1px;

}
.widget-extra-full {
  position: relative;
  padding: 12px;
  background: white;
}

.widget .widget-content-light {
  color: #fff;
}
.widget .widget-extra-full {
  position: relative;
  padding: 12px;
}
.animation-expandOpen {
  animation-name: expandOpen;
  -webkit-animation-name: expandOpen;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
}
.animation-expandOpen, .animation-slideExpandUp {
  animation-timing-function: ease-out;
  visibility: visible!important;
}

h2{
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
  font-weight: 600;
}
.h2{
  font-size: 1.5rem !important;

}
h6{
  margin-top: .2rem;
  margin-bottom: .2rem;
}
.bg-purpl{
  background: indigo !important;
}
@media screen and (min-width: 768px){
  .widget {
  margin-bottom: 20px;
}
}
.table thead th, .table th {
  letter-spacing: 1px;
  text-align: center;
}
.table td {
  text-align: center;
}
.dataTables_filter {
  text-align: right;
}
.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}
.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}
.dataTables_filter .form-control {
  color: #888;
  background-color: #fff;
  box-shadow: none;
  height: 30px;
}
