<div class="container">
    



    <h4 class="text-uppercase font-weight-bold display-6 main-heading text-uppercase text-center">Custom Reports</h4>
    <div class="form-row">
        <div class="">
            <div class="col-md-12 mt-5 ml-5">

                <div id="example23_filter" class="dataTables_filter abcd"><label>Load Report:<input type="search"
                    class="form-control form-control-sm" placeholder="" aria-controls="example23"></label></div>
            </div>
        </div>
    </div>
    <div class="shadow mb-5">

        <form>


            <div class="form-row">
                <div class="form-group col-md-12 mt-2 mb-0-12 ml-4">
                    <label for="inputEmail4">Date Range:</label>
                </div>
                <div class="form-group">
                    <div class="col-md-12 ml-5">
                        <input type="text" class="date-form form-cotrol" placeholder="Feb 08, 2020 - Feb 08, 2020">
                    </div>
                </div>
            </div>

            <div class="form-group ml-4">
                <label for="inputEmail4"> Filter By:</label>
            </div>
            <div class="form-row ml-5">
                <div class="form-group col-md-2">
                    <select id="inputState" class="form-control">
                        <option selected>Select</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <select id="inputState" class="form-control">
                        <option selected>Select</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <select id="inputState" class="form-control">
                        <option selected>Select</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-group ml-4">
                <label for="inputEmail4"> Table columns:</label>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2ng  ml-5">
                    <label class="container-mark">Revenue
                        <input class="input-mark" type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="form-group col-md-2">
                    <label class="container-mark">Impressions
                        <input class="input-mark" type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="form-group col-md-1">
                    <label class="container-mark">Clicks
                        <input class="input-mark" type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="form-group col-md-1">
                    <label class="container-mark">Ctr
                        <input class="input-mark" type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="form-group col-md-1">
                    <label class="container-mark">Ecpm
                        <input class="input-mark" type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="form-group col-md-2">
                    <label class="container-mark">Fill Rate
                        <input class="input-mark" type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                </div>
            </div>
            <div class="form-group ml-4">
                <label for="inputEmail4"> Group By:</label>
            </div>
            <div class="form-row ml-5">
                <div class="form-group col-md-2">
                    <select id="inputState" class="form-control">
                        <option selected>Select</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <select id="inputState" class="form-control">
                        <option selected>Select</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <select id="inputState" class="form-control">
                        <option selected>Select</option>
                        <option>...</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-first">Clear </button>
                    <button class="btn ml-1 btn-second">Apply </button>
                    <button class="btn ml-1 btn-third">Save </button>
                    <button class="btn ml-1 mr-2 btn-fourth">Save as </button>
                </div>
            </div>
            <br>
            <br>
            <br>

        </form>

    </div>
</div>


   
