
  .card {
    background-color: white;
  }

.btn-third {
    padding: 5px 15px;
    background-color: #E1E1E1;
    color: white;
}
.btn-third:hover {
    background-color: rgb(182, 181, 181);
    color: white;
}

.btn-fourth {
    padding: 5px 15px;
    background-color: rgb(253, 208, 44);
    color: white;
}

.btn-fourth:hover {
    background-color: rgb(185, 145, 0);
    color: white;
}


select {
  border: 0;
  background-image: linear-gradient(#fb9678, #fb9678), linear-gradient(#e9ecef, #e9ecef);
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center calc(100% - 1px);
  background-color: transparent;
  transition: background 0s ease-out;
  float: none;
  box-shadow: none;
  border-radius: 0;
  color: gray;
 
}
  select:focus {
    outline: none;
    background-image: linear-gradient(#fb9678, #fb9678), linear-gradient(#e9ecef, #e9ecef);
    background-size: 100% 2px, 100% 1px;
    box-shadow: none;
    transition-duration: 0.3s;
   }
  
  