<section>
  <div class="container-fluid" style="padding-top: 50px;">
    <div class="row mb-4">
      <div class="col-md-12">
        <h2 class="m-0 text-center font-weight-bold">PAYMENTS</h2>
      </div>
</div>
<div class="row">
  <div class="col-md-12">
  <div class="border-0 shadow bg-white mb-5 p-4">
      <div class="row">
        <div class="steps clearfix">
          <ul role="tablist">
            <li role="tab" class="first current">
              <a [routerLink]="['/']"
                aria-controls="steps-uid-2-p-0">
                <span class="current-info audible">current step:</span>
                <span class="step">1</span> Address</a>
            </li>
            <li role="tab" class="disabled" >
              <a  [routerLink]="['/step2']"
                aria-controls="steps-uid-2-p-1">
                <span class="step">2</span> Payment Method </a>
            </li>
            <li role="tab" class="disabled" >
              <a  [routerLink]="['/step3']"
                aria-controls="steps-uid-2-p-2">
                <span class="step">3</span> Tex Forms</a>
            </li>
            <li role="tab" class="disabled last" >
              <a  [routerLink]="['/step4']"
                aria-controls="steps-uid-2-p-3">
                <span class="step">4</span> Done</a>
            </li>
          </ul>
<router-outlet></router-outlet>

        </div>

    </div>
  </div>
</div>

</div>
  </div>

</section>
